---
layout: default
---
<div class="post">
  <article>
    {% if page.profiles %}
      <!-- Navigation links to individual profile pages -->
      <nav class="profiles-nav mb-3">
        <div class="list-group list-group-horizontal flex-wrap">
          {% for profile in page.profiles %}
            {% if profile.content %}
              {% assign fname = profile.content | split: '/' | last %}
              {% assign slug = fname | remove: 'profile-' | remove: '.md' %}
              <a class="list-group-item list-group-item-action" href="{{ '/profiles/' | append: slug | append: '/' | relative_url }}">
                {{- profile.more_info | strip_html | strip_newlines | truncate: 40 -}}
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </nav>
      {% for profile in page.profiles %}
        <hr>
        <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
            {% if profile.image_circular %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
            {% else %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
            {% endif %}
            {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
            {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
          {% endif %}
          {% if profile.more_info %}
            <div class="more-info">{{ profile.more_info }}</div>
          {% endif %}
        </div>

        <div class="clearfix">
          {% if profile.content %}
            {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
            {{ profile_content | markdownify }}
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </article>
</div>
